<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="<%= action %>" method="POST">
      <p>nome:<input type="text" name="nome" value="<%= doc.nome %>" /></p>
      <p>idade:<input type="number" name="idade" value="<%= doc.idade %>" /></p>
      <input type="submit" value="Salvar" />
    </form>
  </body>
</html>